html
{
    scroll-behavior: smooth;
}
body 
{
    font-family: 'Playfair Display', serif;
    background-color: #f4e8dc;
    color: #3d0d18;
    margin: 0;
    padding: 0;
}
.header h1 
{
    font-family: 'Cinzel Decorative', serif;
    font-size: 2.5rem;
    color: #803333;
    text-align: left;
    margin-bottom: 10px;
    font-weight: bold;
    letter-spacing: 1.5px;
}
.header h2.title 
{
    text-align: center;
    font-size: 1.8rem;
    color: #3d0d18;
    margin-bottom: 20px;
}
.container 
{
    background: white;
    padding: 40px 50px;
    border-radius: 20px;
    max-width: 1000px;
    min-height: 800px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}
.container h3
{
    font-size: 32px;
    font-weight: bold;
    color: black;
}
.container label
{
    color: black;
    font-size: large;
    font-weight: bold;
}
.container input
{
    margin-bottom: 20px;
    background-color: transparent;
    border: 1px solid rgba(161, 161, 161, 0.76);
}
.container input:focus
{
    border-color: #3d0d18;
    outline: none;
    box-shadow: 0 0 8px #3d0d18;
}
.container textarea
{
    background-color: transparent;
    border: 1px solid rgba(161, 161, 161, 0.76);
}
.container textarea:focus
{
    border-color: #3d0d18;
    outline: none;
    box-shadow: 0 0 8px #3d0d18;
}
.subbutton
{
    background-color: #571222;
    color: #fef8eb;
    border: 0;
    font-weight: bold;
    height: 40px;
}
.subbutton:hover
{
    background-color: #3d0d18;
}
.center-btn-container 
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;    
}
.icons
{
    font-size: 22px;
    color: #571222;
}
.dropdown-toggle 
{
    background-color: #571222;
    border: 0;
    color: white;
}
.dropdown-toggle:focus, .dropdown-toggle:active 
{
    background-color: #3d0d18;
    border: 0;
}
.dropdown-menu 
{
    background-color: white;
}
.dropdown-item 
{
    background-color: white;
    color: black;
}
.dropdown-item:hover 
{
    background-color: #d1d1d1be;
}
.file-input 
{
    display: none;
}  
.custom-file-label 
{
    display: inline-block;
    padding: 10px 20px;
    background-color: #571222;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    transition: background-color 0.3s ease;
}
.custom-file-label:hover 
{
    background-color: #3d0d18;
}  
.file-name 
{
    margin-left: 15px;
    font-size: 14px;
    color: black;
    font-weight: bold;
}
.optionsbtns
{
    width: 70px;
    height: 70px;
    background-color: white;
    border: 0;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.optionsbtns i
{
    font-size: 22px;
    color: #571222;
}
.divbtns
{
    position: absolute;
    left: 21.2%;
    top: 13%;
}
.optionsbtns:hover
{
    background-color: #bebebe;
}